<!--
<div *ngFor="let item of Imagedata;">
  <img src={{item?.item}} style="width:100%">
</div>
-->
<div class="slider">
  <div id="texto_hist">
    <!-- <p>En la calle más auténtica y exclusiva de Rosario, Vikings Barber Shop recrea el ambiente atemporal de una peluquería de principios del siglo XX. Vikings Barber Shop representa un paraíso lujoso para aquellos caballeros que desean relajarse mientras pasan un tiempo valioso para ellos, experimentando los rituales de aseo más clásicos y atemporales. Cruzar la entrada del edificio del siglo XVIII significa entrar en un mundo de paz e intimidad, una dimensión paralela donde olvidarse de todo y concentrarse solo en usted. El interior de la boutique se caracteriza por un aspecto unico, inspirado en los mosaicos de lujo de los hoteles de lujo europeos de principios del siglo XX y estudiado para inspirar paz y elegancia atemporal. Conoce mas de <a id ="textito" href="nosotros.html">nosotros</a></p> -->
    <p>En la calle más auténtica y exclusiva de Rosario, Vikings Barber Shop
      recrea el ambiente atemporal de una peluquería de principios del siglo XX.
      Vikings Barber Shop representa un paraíso lujoso para aquellos caballeros
      que desean relajarse mientras pasan un tiempo valioso para ellos,
      experimentando los rituales de aseo más clásicos y atemporales.
      Conoce más de <a id ="textito" routerLink="nosotros">nosotros</a></p>
  </div>
  <!--<div class="fotitos" *ngFor="let item of Imagedata;">
    <img class="miSlide" src={{item?.item}}>-->
  <div class="fotitos">
    <img class="miSlide" src="./assets/imagenes/barberia1.jpeg">
    <img class="miSlide" src="./assets/imagenes/barberia2.jpeg" style="display: none;">
    <img class="miSlide" src="./assets/imagenes/barberia3.jpg" style="display: none;">
    <img class="miSlide" src="./assets/imagenes/barberia4.jpg" style="display: none;">
  </div>
</div>
